// This is an input config file for `getBkgYield.py`
// Fill out the sections [1] and [2] below in this config file
// To comment out any line(s), use // at the beginning of the line(s) 
// Do NOT change any comment lines starting with #
// For more information, check README


### [1] Input ROOT files (after Analyzer&Plotter)

# Input file directory
/home/kyungminpark/CMSSW_10_2_18/src/Forked/Plotter/2016/2016_SR/

# Name of the input root files in the directory above
## SIGNAL sample(s)
VBF-EWKino_WZ_M100_dM10.root

## BKG sample(s)
ZJetsToNuNu.root
WJetsToLNu.root
EWK_Z.root
EWK_W.root
VV.root
EWK_VV.root
SingleTop.root
tbar{t}.root
QCD.root
tbar{t}+X.root
Vgamma.root
VVV.root

## DATA (optional if running with toy model)
// HTMHT_Run2016.root


### [2] Histogram Information

# Name of the histogram stored in the root files 
LargestDiJetMass

# Name of the cut step after which you want the histogram from
NRecoBJet

# Binning of the histogram from the left end to the right end values: histogram will be rebinned with this binning
1000, 1200, 1400, 1600, 1800, 2000, 2200, 2400, 2600, 2800, 3000, 3200, 3400, 3600, 3800, 4000, 4500, 5000

